version: '3'

services:

  harena-space:
    environment:
      - ENV_SILENT=true            
      - HOST=0.0.0.0
      - PORT=10010
      - NODE_ENV=production
      - APP_NAME=harena-space
      - APP_URL=https://dev.harena.ds4h.org
      - CACHE_VIEWS=false
      - APP_KEY=Xw8Ctu827gw290qDx4GSnUlyTY3a6x
      - HASH_DRIVER=bcrypt
      - HARENA_SPACE_URL=https://dev.harena.ds4h.org
      - HARENA_SPACE_API_VERSION=v1
      - HARENA_MANAGER_URL=https://dev.harena.ds4h.org/manager
      - HARENA_MANAGER_URL_CLIENT=https://dev.harena.ds4h.org/manager
      - HARENA_MANAGER_API_VERSION=v1
      - HARENA_LOGGER_URL=https://dev.harena.ds4h.org/logger
      - HARENA_LOGGER_API_VERSION=v1      

      - DB_CONNECTION=mysql
      - DB_HOST=172.17.0.1
      - DB_PORT=10021
      - DB_USER=jacinto
      - DB_PASSWORD=jacinto
      - DB_DATABASE=harena-manager  
    entrypoint: /bin/bash -c "/bin/bash -c \"$${@}\""
    command: |
      /bin/bash -c "
        echo '172.20.0.84 apache dev.harena.ds4h.org' >> /etc/hosts
        ./bootstrap.sh
      "


